FLows/force-app/main/default/flows/Provider.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Store inputted Provider name</description>
        <name>Assign_Provider_Name</name>
        <label>Assign Provider Name</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Stored_Provider_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>it_Provider_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Edit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Store the newly updated Provider name</description>
        <name>Assign_Updated_Provider_Name</name>
        <label>Assign Updated Provider Name</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Stored_Provider_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>it_Provider_Name_missing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>S2_Get_Existing_Provider_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CreateNewProvider</name>
        <choiceText>Create New Provider</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create New Provider</stringValue>
        </value>
    </choices>
    <choices>
        <name>EditProviderInfo</name>
        <choiceText>Edit Existing Provider</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit Existing Provider</stringValue>
        </value>
    </choices>
    <choices>
        <description>Allow user to choose to exit the form</description>
        <name>ExitTheForm</name>
        <choiceText>Exit the Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exit the Form</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Create or update a current Provider.</description>
        <name>Create_or_Edit</name>
        <label>Create or Edit</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>S2_Get_Existing_Provider_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit Existing Provider</defaultConnectorLabel>
        <rules>
            <name>Create_New_Provider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rb_create_or_edit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateNewProvider</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_Provider_Signup</targetReference>
            </connector>
            <label>Create New Provider</label>
        </rules>
    </decisions>
    <decisions>
        <description>Create or update a current Provider.</description>
        <name>Create_or_Edit_Missing_Provider</name>
        <label>Create or Edit Missing Provider</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Exit the Form</defaultConnectorLabel>
        <rules>
            <name>Create_New_Provider_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rb_create_or_edit_missing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateNewProvider</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>S2_Provider_Signup</targetReference>
            </connector>
            <label>Create New Provider</label>
        </rules>
        <rules>
            <name>Edit_existing_Provider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rb_create_or_edit_missing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EditProviderInfo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Updated_Provider_Name</targetReference>
            </connector>
            <label>Edit existing Provider</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether the Provider was found or not</description>
        <name>Provider_Decision</name>
        <label>Provider Decision</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>S2_Provider_not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Provider is Missing</defaultConnectorLabel>
        <rules>
            <name>Provider_is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S2_Get_Existing_Provider_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2_Provider_Edit</targetReference>
            </connector>
            <label>Provider is Found</label>
        </rules>
    </decisions>
    <description>Service Providers will use to flow to share their practice information with the community.</description>
    <dynamicChoiceSets>
        <name>Accepting_new_Clients</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Accepting_New_Patients__c</picklistField>
        <picklistObject>Provider__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Allow_Walkins</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Allows_Walk_Ins__c</picklistField>
        <picklistObject>Provider__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Practice_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Practice_Type__c</picklistField>
        <picklistObject>Provider__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>service_category</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Category__c</picklistField>
        <picklistObject>Provider__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Provider {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Provider</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a new Provider record.</description>
        <name>Create_New_Provider_Record</name>
        <label>Create New Provider Record</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>S3_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Accepting_New_Patients__c</field>
            <value>
                <elementReference>pl_Accepting_New_Patients</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allows_Walk_Ins__c</field>
            <value>
                <elementReference>pl_Allow_Walkins</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_of_Operation_Appointment__c</field>
            <value>
                <elementReference>lt_Hours_of_Operation_Appointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_of_Operation_Walk_In__c</field>
            <value>
                <elementReference>lt_Hours_of_Operation_Walk_In</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Practice_Description__c</field>
            <value>
                <elementReference>lt_Practice_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Practice_Name__c</field>
            <value>
                <elementReference>lu_account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Practice_Type__c</field>
            <value>
                <elementReference>pl_Practice_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Name__c</field>
            <value>
                <elementReference>lu_provider.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Category__c</field>
            <value>
                <elementReference>pl_Service_Category</elementReference>
            </value>
        </inputAssignments>
        <object>Provider__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Query the existing Provider record with Name.</description>
        <name>S2_Get_Existing_Provider_Record</name>
        <label>S2 Get Existing Provider Record</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Provider_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Stored_Provider_name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Provider__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the existing Provider record.</description>
        <name>Update_Existing_Provider</name>
        <label>Update Existing Provider</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>S3_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>S2_Get_Existing_Provider_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accepting_New_Patients__c</field>
            <value>
                <elementReference>pl_Accepting_New_Patients_edit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Allows_Walk_Ins__c</field>
            <value>
                <elementReference>pl_Allow_Walkins_edit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_of_Operation_Appointment__c</field>
            <value>
                <elementReference>lt_Hours_of_Operation_Appointment_edit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_of_Operation_Walk_In__c</field>
            <value>
                <elementReference>lt_Hours_of_Operation_Walk_In_edit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Practice_Description__c</field>
            <value>
                <elementReference>lt_Practice_Description_edit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Practice_Name__c</field>
            <value>
                <elementReference>lu_account_edit.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Practice_Type__c</field>
            <value>
                <elementReference>pl_Practice_Type_edit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Name__c</field>
            <value>
                <elementReference>lu_provider_edit.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Category__c</field>
            <value>
                <elementReference>pl_Service_Category_edit</elementReference>
            </value>
        </inputAssignments>
        <object>Provider__c</object>
    </recordUpdates>
    <screens>
        <description>Welcome screen to gather Provider name and type of Provider.</description>
        <name>S1_Provider_Welcome</name>
        <label>S1 Provider Welcome</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Provider_Name</targetReference>
        </connector>
        <fields>
            <name>dt_welcome_message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(62, 63, 64);&quot;&gt;Welcome to The Hive Foundation community!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(62, 63, 64);&quot;&gt;Thanks for contributing&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>rb_create_or_edit</name>
            <choiceReferences>CreateNewProvider</choiceReferences>
            <choiceReferences>EditProviderInfo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How may we help you today?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>it_Provider_Name</name>
            <dataType>String</dataType>
            <fieldText>Provider Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>rb_create_or_edit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>EditProviderInfo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Gather new information for the Provider record.</description>
        <name>S2_Provider_Edit</name>
        <label>S2 Provider Edit</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Existing_Provider</targetReference>
        </connector>
        <fields>
            <name>S2_Edit_Provider_Signup</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Thank you for signing up to help on this!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please fill out the following form and the support team will reach out to you in 48 hours to help with the next steps.&lt;/p&gt;&lt;p&gt;&lt;em&gt;&lt;u&gt;Note:&lt;/u&gt;&lt;/em&gt; all fields marked with &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*&lt;/span&gt; are required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lu_provider_edit</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Provider_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Provider Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Provider__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>S2_Get_Existing_Provider_Record.Provider_Name__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>lu_account_edit</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Practice_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Practice Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Provider__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>S2_Get_Existing_Provider_Record.Practice_Name__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>pl_Practice_Type_edit</name>
            <choiceReferences>Practice_Type</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>S2_Get_Existing_Provider_Record.Practice_Type__c</elementReference>
            </defaultValue>
            <fieldText>Practice Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lt_Practice_Description_edit</name>
            <defaultValue>
                <stringValue>{!S2_Get_Existing_Provider_Record.Practice_Description__c}</stringValue>
            </defaultValue>
            <fieldText>Practice Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pl_Accepting_New_Patients_edit</name>
            <choiceReferences>Accepting_new_Clients</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>S2_Get_Existing_Provider_Record.Accepting_New_Patients__c</elementReference>
            </defaultValue>
            <fieldText>Accepting New Patients</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pl_Allow_Walkins_edit</name>
            <choiceReferences>Allow_Walkins</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>S2_Get_Existing_Provider_Record.Allows_Walk_Ins__c</elementReference>
            </defaultValue>
            <fieldText>Allow Walkins</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lt_Hours_of_Operation_Appointment_edit</name>
            <defaultValue>
                <stringValue>{!S2_Get_Existing_Provider_Record.Hours_of_Operation_Appointment__c}</stringValue>
            </defaultValue>
            <fieldText>Hours of Operation - Appointment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lt_Hours_of_Operation_Walk_In_edit</name>
            <defaultValue>
                <stringValue>{!S2_Get_Existing_Provider_Record.Hours_of_Operation_Walk_In__c}</stringValue>
            </defaultValue>
            <fieldText>Hours of Operation - Walk-In</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>pl_Allow_Walkins_edit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>pl_Service_Category_edit</name>
            <choiceReferences>service_category</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>S2_Get_Existing_Provider_Record.Service_Category__c</elementReference>
            </defaultValue>
            <fieldText>Service Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>A screen to inform the user the Provider was not found and to try again</description>
        <name>S2_Provider_not_Found</name>
        <label>S2 Provider not Found</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_or_Edit_Missing_Provider</targetReference>
        </connector>
        <fields>
            <name>dt_welcome_message_missing</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;That Provider was not found.  Please confirm your Provider Name, check spelling and try again.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 63, 64); font-size: 12px;&quot;&gt;Thanks for again contributing&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>rb_create_or_edit_missing</name>
            <choiceReferences>CreateNewProvider</choiceReferences>
            <choiceReferences>EditProviderInfo</choiceReferences>
            <choiceReferences>ExitTheForm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How may we help you today?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>it_Provider_Name_missing</name>
            <dataType>String</dataType>
            <fieldText>Provider Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>rb_create_or_edit_missing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>EditProviderInfo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Gather new Provider information.</description>
        <name>S2_Provider_Signup</name>
        <label>S2 Provider Signup</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Provider_Record</targetReference>
        </connector>
        <fields>
            <name>S2_New_Provider_Signup</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Thank you for signing up to help on this!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please fill out the following form and the support team will reach out to you in 48 hours to help with the next steps.&lt;/p&gt;&lt;p&gt;&lt;em&gt;&lt;u&gt;Note:&lt;/u&gt;&lt;/em&gt; all fields marked with &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*&lt;/span&gt; are required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lu_provider</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Provider_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Provider Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Provider__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>lu_account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Practice_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Practice Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Provider__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>pl_Practice_Type</name>
            <choiceReferences>Practice_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Practice Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lt_Practice_Description</name>
            <fieldText>Practice Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pl_Accepting_New_Patients</name>
            <choiceReferences>Accepting_new_Clients</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Accepting New Patients</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pl_Allow_Walkins</name>
            <choiceReferences>Allow_Walkins</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Allow Walkins</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lt_Hours_of_Operation_Appointment</name>
            <fieldText>Hours of Operation - Appointment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lt_Hours_of_Operation_Walk_In</name>
            <fieldText>Hours of Operation - Walk-In</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>pl_Allow_Walkins</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>pl_Service_Category</name>
            <choiceReferences>service_category</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provider records are successfully created or updated.</description>
        <name>S3_Success</name>
        <label>S3 Success</label>
        <locationX>314</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt_success</name>
            <fieldText>&lt;p&gt;Thank you for submitting your provider information. Your provider Information has been submitted successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S1_Provider_Welcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The inputted Provider name</description>
        <name>Stored_Provider_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
