FLows/force-app/main/default/flows/Resource_Management_Superbadge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Resource_Name</name>
        <label>Assign Resource Name</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>resource_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>it_resource_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>create_or_edit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>resource_input</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>EditExistingResourceRequest</name>
        <choiceText>Edit Existing Resource Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EditExistingResourceRequest</stringValue>
        </value>
    </choices>
    <choices>
        <name>StartNewResourceRequest</name>
        <choiceText>Start New Resource Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>StartNewResourceRequest</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Resource Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resource Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>Welcome to the Hive Foundation community! Thanks for contributing.</description>
        <name>Resource_Management</name>
        <label>Resource Management</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Resource_Name</targetReference>
        </connector>
        <fields>
            <name>Welcome</name>
            <fieldText>&lt;p&gt;Welcome to the Hive Foundation community! Thanks for contributing.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hive_logo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Hive_Foundation_Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Hive Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>80%</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>resource_input</name>
            <choiceReferences>StartNewResourceRequest</choiceReferences>
            <choiceReferences>EditExistingResourceRequest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How may we help you today?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>it_resource_name</name>
            <dataType>String</dataType>
            <fieldText>Resource Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EditExistingResourceRequest</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dynamic_Progress_Start</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>Flow_Steps</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStepPercentage</name>
                <value>
                    <numberValue>66.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Bar</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Resource_Management</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>create_or_edit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>resource_input</elementReference>
        </value>
    </variables>
    <variables>
        <name>Flow_Steps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Step1</stringValue>
        </value>
    </variables>
    <variables>
        <name>resource_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>it_resource_name</elementReference>
        </value>
    </variables>
</Flow>
